/*Layout*/

/*Variáveis*/
:root {
    --Laranja: #d0a06f;
    --Branco: #faf9f6;
    --Preto: #000000;
    --Cinza: #3f3e3e;
}

/*bora começar*/

#sobre {
    padding: 50px 20px;
    background-color: #3d3d3d;
    color: var(--Branco);
}

#sobre .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    max-width: 1100px;
    margin: auto;
}


#sobre .texto h2 {
    font-size: 2rem;
    color: var(--Laranja);
    margin-bottom: 15px;
}

#sobre .texto p {
    font-size: 1.1rem;
    line-height: 1.6;
}

#sobre #youtube iframe {
    max-width: 560px;
    height: 315px;
    border-radius: 12px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.45);
}

/*CSS*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Black Ops One", system-ui;
}

.container {
    display: flex;
    margin: 0 auto;
}

.btn {
    text-decoration: none;
    font-size: 1.3rem;
    font-weight: 800;
    background-color: var(--Laranja);
    padding: 10px 40px;
    color: var(--Preto);
    border-radius: 30px;
    border: 2px solid var(--Preto);
}

/*(butão)*/

/*Cartão*/

.card {
    width: 342px;
    height: 520px;
    background-color: #413c3c;
    margin-bottom: 25px;
    border: 2px solid var(--Branco);
    text-align: center;
    border-radius: 25px;
}


.card img {
    border-radius: 25px 25px 0px 0px;
}



.card h2 {
    font-size: 1.3rem;
    margin: 15px 0px;
    color: var(--Laranja);
}

.card p {
    text-align: center;
    padding: 0px 15px 45px 15px;
    color: #faf9f6;
}

/*topo do site*/
#topo {
    position: fixed;
    right: 15px;
    bottom: 10px;
}

html {
    scroll-behavior: smooth;
}

/*Fim - Layout*/


/*cartões*/

#pcgamer {
    background-color: var(--Cinza);
    padding: 50px 0px 25px 0px;
}

#pcgamer .container {
    flex-direction: column;
    align-items: center;
}



/*cabeçalho*/
header {

    background-color: var(--Cinza);
    height: 120px;
}

#logo img {
    width: 140px;
    height: 90px;
    margin-top: 15px;
    margin-left: 30px;
    border-radius: 10px;
}

#check {
    display: none;
}

label {
    color: rgba(226, 225, 221, 0.75);
    font-size: 3rem;
    position: fixed;
    right: 15px;
    top: 0px;
}

nav ul {
    height: 100vh;
    background-color: rgba(204, 195, 195, 0.9);
    position: fixed;
    top: 120px;
    right: -40%;
    width: 40%;
    transition: all 0.5s;
}


#check:checked ul {
    right: 0px;
}

nav ul li {
    list-style: none;
    padding: 20px;
    text-align: right;
    border: 1px solid var(--Preto);
}

nav ul li a {
    text-decoration: none;
    color: var(--Preto);
}

/* Principal */
main {
    height: 70vh;
    background: url(./img/banner1.jpeg);
    background-size: cover;
    background-position: center;
}

main h1 {
    color: var(--Preto);
    font-size: 4rem;
}

main h2 {
    color: var(--Preto);
    font-size: 0.9rem;
    margin-bottom: 25px;
}

main .container {
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/*Destaque*/
#destaque {
    padding: 50px 10px;
    background: url(./img/imagem2.png);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

#destaque .container {
    flex-direction: column;
}

#hero {
    text-align: center;
}

#hero img {
    width: 200px;
    height: 200px;
    margin-bottom: 30px;
}

#hero-text h2 {
    margin-bottom: 15px;
    color: #dac97d;
}

#hero-text p {
    color: var(--Branco);
}

.topics {
    display: flex;
    align-items: center;
    margin-top: 15px;
}

.topics p {
    margin-left: 15px;
    color: var(--Branco);
}

/* PDF / QR CODE */
#pdf {
    padding: 50px 10px;
    background: url(./img/imagem2.png);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

#pdf .container {
    flex-direction: column;
    gap: 20px;
    max-width: 1100px;
    margin: auto;
    align-items: center;
}

#pdf #text h2 {
    font-size: 2rem;
    color: var(--Laranja);
    margin-bottom: 15px;
    text-align: center;
}

#pdf #text p {
    font-size: 1.1rem;
    color: var(--Branco);
    line-height: 1.6;
    text-align: center;
    max-width: 700px;
}

#pdf nav a {
    display: inline-block;
    padding: 10px 30px;
    background-color: var(--Laranja);
    color: var(--Preto);
    border-radius: 20px;
    font-weight: 800;
    border: 2px solid var(--Preto);
    text-decoration: none;
    margin-top: 15px;
}

#pdf #qrcode img {
    width: 180px;
    height: 180px;
    border-radius: 12px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.45);
}

/*smar*/


@media (max-width: 992px) {

    #sobre .container {
        flex-direction: column;
        text-align: center;
        gap: 25px;
    }

    #youtube iframe {
        width: 100%;
        max-width: 600px;
        height: 300px;
    }

    #pdf .container {
        flex-direction: column;
        text-align: center;
    }

    #pdf #qrcode img {
        width: 200px;
    }

    #pdf nav a {
        padding: 15px 45px;
        font-size: 1.3rem;
    }
}


@media (max-width: 600px) {

    .mapa {
        display: none !important;
    }

    #youtube iframe {
        width: 100%;
        height: 220px;
    }

    #pdf #qrcode img {
        width: 150px;
    }

    #pdf nav a {
        padding: 17px 50px;
        font-size: 1.4rem;
    }
}

/*smartphone Landscape*/
@media (min-width: 576px) {
    .container {
        max-width: 540px;
    }

    nav ul {
        width: 30%;
        right: -30%;
    }

    main {
        height: 80vh;
    }

    main h1 {
        font-size: 3.75rem;
    }

    main h2 {
        font-size: 1.5rem;
    }

    #destaque {
        padding: 50px 0;
    }

    #destaque .container {
        flex-direction: row;
        align-items: center;
    }

    #hero img {
        width: 200px;
        height: 200px;
        margin: 0 50px 0 0;
    }
}

/*tablet Portrait*/
@media (min-width: 768px) {
    .container {
        max-width: 720px;
    }

    main h1 {
        font-size: 8rem;
    }

    main h2 {
        font-size: 2rem;
    }
}

/*tablet Landscape*/
@media (min-width: 992px) {
    .container {
        max-width: 960px;
    }

    #pcgamer .container {
        flex-direction: row;
        flex-wrap: wrap;
    }

    .card {
        margin-right: 25px;
    }

}

/*Notebook / PC */
@media (min-width: 1200px) {

    .container {
        max-width: 1140px;
        justify-content: space-between;
    }

    
    nav ul {
        position: static;
        width: 100%;
        height: auto;
        background-color: transparent;
        margin-top: 30px;
    }

    nav ul li {
        border: 0;
        float: left;
    }

    nav ul li a {
        font-size: 1.5rem;
        color: var(--Branco);
    }

    nav ul li a:hover {
        color: var(--Laranja);
    }

    main {
        height: 85vh;
    }

    #destaque {
        background-attachment: fixed;
    }

    #hero img {
        width: 400px;
        height: 400px;
    }

    .card {
        margin-right: 0px;
    }

    #pcgamer .container {
        flex-direction: row;
    }
}

/*Full HD / 4K*/
@media (min-width: 1400px) {
    .container {
        max-width: 1320px;
    }

    main h1 {
        font-size: 4.5rem;
        text-shadow: 0px 10px 20px var(--Preto);
    }

    main h2 {
        font-size: 1.9rem;
    }
}

@media (max-width: 900px) {
    .mapa iframe {
        display: none !important;
    }
}

/*rodapé*/
#contato {
    background-color: #d0a06f;
    padding: 50px 20px;
    color: var(--Branco);
}

footer {
    background-color: var(--Cinza);
    padding: 20px 0px;
    color: var(--Branco);
    font-size: 0.95rem;
    align-items: center;
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    max-width: 1100px;
    margin: 0 auto;
}

.copy {
    text-align: left;
}

#social {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

/*footer*/
@media (max-width: 992px) {
    .footer {
        flex-direction: column;
        text-align: center;
        gap: 15px;
    }

    #social {
        justify-content: center;
        margin-top: 10px;
    }
}

@media (max-width: 600px) {
    footer {
        font-size: 0.9rem;
    }

    #social img {
        width: 26px;
        height: 26px;
    }

    .footer {
        gap: 10px;
        padding: 10px 15px;
    }
}