/*Layout*/

/*Variáveis*/
:root {
    --Laranja: #d0a06f;
    --Branco: #faf9f6;
    --Preto: #000000;
    --Cinza: #3f3e3e;
}

/*CSS Reset*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    font-family: "Sirin Stencil", sans-serif;

}

.container {
    display: flex;
    margin: 0 auto;
}


/*Fim - Layout*/


/*Smartphone Portrait*/

/*cabeçalho*/
header {
    height: 65px;
    background-color: var(--Cinza);
}

#logo img {
    width: 140px;
    height: 90px;
    margin-top: 30px;
    margin-left: 30px;

}

#check {
    display: none;
}

label {
    color: rgba(30, 28, 44, 0.75);
    font-size: 3rem;
    position: fixed;
    right: 15px;
    top: 0px;
}

nav ul {
    height: 100vh;
    background-color: rgba(204, 195, 195, 0.9);
    position: fixed;
    top: 65px;
    right: -40%;
    width: 40%;
    transition: all 0.5s;

}

/*Ação para a caixa checkbox*/
/*quando selecionado mudar propriedades ul*/

#check:checked~ul {
    right: 0px;
}

nav ul li {
    list-style: none;
    padding: 20px;
    text-align: right;
    border: 1px solid var(--Preto);
}

nav ul li a {
    text-decoration: none;
    color: var(--Preto);
}




/*Fim - smartphone Portrait*/


/*smartphone Landscape*/
@media (min-width: 576px) {

    /*Layout*/
    .container {
        max-width: 540px;

    }

    /*Cabeçalho*/
    nav ul {
        width: 30%;
        right: -30;
    }
}

/*Fim - smartphone Landscape*/


/*teblet Portrait*/
@media (min-width: 768px) {

    /*Layout*/
    .container {
        max-width: 720px;

    }
}

/*Fim - smartphone Landscape*/


/*teblet Landscape*/
@media (min-width: 992px) {

    /*Layout*/
    .container {
        max-width: 960px;

    }
}

/*Fim - tablet Landscape*/


/*Notebook /Pc */
@media (min-width: 1200px) {

    /*Layout*/
    .container {
        max-width: 1140px;
        justify-content: space-between;


        /*Cabeçalho*/
    }

    header {
        height: 120px;
    }

    #logo img {
        width: 200px;
        height: 120px;
    }

    label {
        display: none;
    }

    nav ul {
        position: static;
        width: 100%;
        height: auto;
        background-color: transparent;
        margin-top: 30px;
    }


    nav ul li {
        border: 0;
        float: left;
    }


    nav ul li a {
        font-size: 1.5rem;
        color: var(--Branco);
    }


    nav ul li a:hover {
        color: var(--Laranja);
    }


    nav ul li {
        border: 0;
        float: left;
        color: var(--Branco);
    }

    

    /*Fim -Notebook /Pc*/
}


/*Full Hd / 4K  */
@media (min-width: 1400px) {

    /*Layout*/
    .container {
        max-width: 1320px;

    }

    /*Fim - Full Hd / 4K*/
}