/*Layout*/

/*Variáveis*/
:root {
    --Laranja: #d0a06f;
    --Branco: #faf9f6;
    --Preto: #000000;
    --Cinza: #3f3e3e;
}

#sobre {
    padding: 50px 20px;
    background-color: var(--Cinza);
}

#sobre .container {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

/*CSS Reset*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    font-family: "Black Ops One", system-ui;

}

.container {
    display: flex;
    margin: 0 auto;
}

.btn {
    text-decoration: none;
    font-size: 1.3rem;
    font-weight: 800;
    background-color: var(--Laranja);
    padding: 10px 40px;
    color: var(--Preto);
    border-radius: 30px;
    border: 2px solid var(--Preto);
}

/*(butão)*/
/*Fim - Layout*/


/*Smartphone Portrait*/

/*cabeçalho*/
header {
    height: 65px;
    background-color: var(--Cinza);
}

#logo img {
    width: 140px;
    height: 90px;
    margin-top: 30px;
    margin-left: 30px;
    border-radius: 10px;

}

#check {
    display: none;
}

label {
    color: rgba(216, 184, 39, 0.75);
    font-size: 3rem;
    position: fixed;
    right: 15px;
    top: 0px;
}

nav ul {
    height: 100vh;
    background-color: rgba(204, 195, 195, 0.9);
    position: fixed;
    top: 65px;
    right: -40%;
    width: 40%;
    transition: all 0.5s;

}

/*Ação para a caixa checkbox*/
/*quando selecionado mudar propriedades ul*/

#check:checked~ul {
    right: 0px;
}

nav ul li {
    list-style: none;
    padding: 20px;
    text-align: right;
    border: 1px solid var(--Preto);
}

nav ul li a {
    text-decoration: none;
    color: var(--Preto);
}

/* Principal */

main {
    height: 100vh;
    background: url(./img/banner.jpeg);
    background-size: cover;
    background-position: center;

}
/*Nome PRd3_tech*/
main h1 {
    color: var(--Preto);
    font-size: 4.0rem;
    
    

}
/*Nome de baixo*/
main h2 {
    color: var(--Preto);
    font-size: .90rem;
    margin-bottom: 25px;
}

main .container {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/*Destaque*/
#destaque {
    padding: 50px 10px;
    background: url(./img/banner23.jpg);
    background-size: cover;
    background-position: center;
}

#destaque .container {
    flex-direction: column;
}


#hero {
    text-align: center;
}

#hero img {
    width: 200px;
    height: 200px;
    margin-bottom: 30px;

}


#hero-text h2 {
    margin-bottom: 15px;
    color: #faf9f6;
}

#hero-text p {
    color: var(--Branco);
}

.topics {
    display: flex;
    align-items: center;
    margin-top: 15px;

     
}

.topics p {
    margin-left: 15px;
    color: #faf9f6;
}



/*Fim - smartphone Portrait*/


/*smartphone Landscape*/
@media (min-width: 576px) {

    /*Layout*/
    .container {
        max-width: 540px;

    }

    
    /*Cabeçalho*/
    nav ul {
        width: 30%;
        right: -30%;
    }

    /* Principal */

    main {
        height: 80vh;
    }

    main h1 {
        font-size: 3.75rem;

    }

    main h2 {
        font-size: 1.5rem;
    }
    /*Destaque*/

    #destaque {
        padding: 50px 0px;
    }


    #destaque .container {
        flex-direction: row;
        align-items: center;
    }



    #hero {
        text-align: left;

    }

    #hero img {
        width: 200px;
        height: 200px;
        margin: 0px 50px 0px 0px;

    }

   

    /*Fim - smartphone Landscape*/

}

/*tblet Portrait*/
@media (min-width: 768px) {

    /*Layout*/
    .container {
        max-width: 720px;

    }

    main h1 {
        font-size: 8rem;
    }

    main h2 {
        font-size: 2rem;
    }
}

/*Fim - smartphone Landscape*/


/*teblet Landscape*/
@media (min-width: 992px) {

    /*Layout*/
    .container {
        max-width: 960px;

    }
}

/*Fim - tablet Landscape*/


/*Notebook /Pc */
@media (min-width: 1200px) {

    /*Layout*/

    .container {
        max-width: 1140px;
        justify-content: space-between;


        /*Cabeçalho*/
    }

    header {
        height: 120px;
    }

    #logo img {
        width: 200px;
        height: 120px;
        margin-top: 39px;
        margin-left: 30px;
    }

    label {
        display: none;
    }

    nav ul {
        position: static;
        width: 100%;
        height: auto;
        background-color: transparent;
        margin-top: 30px;
    }


    nav ul li {
        border: 0;
        float: left;
    }


    nav ul li a {
        font-size: 1.5rem;
        color: var(--Branco);
    }


    nav ul li a:hover {
        color: var(--Laranja);
    }

    /*Principal*/

    main {
        height: 85vh;
    }

    nav ul li {
        border: 0;
        float: left;
        color: var(--Branco);
    }

    /*Destaque*/
    #destaque {
        background-attachment: fixed;
    }

    #hero img {
        width: 400px;
        height: 400px;
    }

    .topics{
        display: flex;
        
    }
}

/*Fim -Notebook /Pc*/



/*Full Hd / 4K  */
@media (min-width: 1400px) {

    /*Layout*/
    .container {
        max-width: 1320px;

    }

    main h1 {
        font-size: 4.5rem;
        text-shadow: 0px 10px 20px var(--Preto);
    }
    main h2 {
        font-size: 1.90rem;
    }

    /*Fim - Full Hd / 4K*/
}